.app{
  background-color: #02735e;
  color: #0d0d0d;
  min-height: 900px;
}
.app {
  padding: 0;
}


.header {
  border-bottom: 1px solid #038C73;
}

.sidebar {
  width: 120px;
  margin: 5px;
  position: sticky;
  top: 62px;
  align-self: flex-start;
  align-items: start;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar a {
  color: #038C73;
}

.sidebar a:hover {
  background-color: #36BFB1;
}

.sidebar a:visited {
  color: #014034;
}

.sidebar .nav-item .active {
  background-color: #def;
}